<div class="navbar is-spacedAdvertisement">
  <!-- <div id="navMenuIndex" class="navbar-menu"> -->
    <div class="navbar-brand">
      <a class="navbar-item" href="/publications">
        <span>
          <span class="icon has-text-bootstrap">
            <i class="fas fa-plus"></i>
          </span>
          <strong>Add New</strong>
        </span>
      </a>
    </div>
    <!-- </div> -->
</div>
