<% assigns = assigns
              |> Map.put(:title, "Edit Real Estate - Prices")
              |> Map.put(:action, real_estate_path(@conn, :update_presentation, @real_estate))
              |> Map.put(:current, :prices) %>

<div class="section">

  <%= render PulapWeb.HTML.Shared, "flash_message.html", assigns %>

  <%= render "main_bar.html", assigns %>

  <%= render "form_presentation.html", assigns %>

  <%= render "edit_menu.html", assigns %>

</div>