<%= render PulapWeb.HTML.Shared, "flash_message.html", assigns %>

<div class="section">
  <h2 class="subtitle">
    Edit Real Estate - Address
  </h2>

  <%= render "form_address.html", Map.put(assigns, :action, real_estate_path(@conn, :update_address, @real_estate)) %>

</div>

<%= render PulapWeb.HTML.Shared, "real_estate_edit_buttons.html", Map.put(assigns, :current, :address) %>

<span><%= link "Back", to: real_estate_path(@conn, :index) %></span>
