<div class="section">
  <h2 class="subtitle">
    Edit Real Estate
  </h2>

  <%= render "form_presentation.html", Map.put(assigns, :action, real_estate_path(@conn, :update_presentation, @real_estate)) %>

</div>

<%= render PulapWeb.HTML.Shared, "real_estate_edit_buttons.html", Map.put(assigns, :current, :presentation) %>

<span><%= link "Back", to: real_estate_path(@conn, :index) %></span>
