<div class="section">
  <h2 class="subtitle">
    Edit Real Estate
  </h2>

  <%= render "step_four_form.html", Map.put(assigns, :action, real_estate_path(@conn, :update_step_four, @real_estate)) %>

</div>

<span><%= link "Back", to: real_estate_path(@conn, :index) %></span>
