<% assigns = assigns
              |> Map.put(:title, "New Real Estate - Presentation")
              |> Map.put(:action, real_estate_path(@conn, :create))
              |> Map.put(:current, :presentation) %>

<div class="section">

  <%= render PulapWeb.HTML.Shared, "flash_message.html", assigns %>

  <%= render "main_bar.html", assigns %>

  <%= render "form_presentation.html", assigns %>

</div>
