<div class="section">
  <h2 class="subtitle">
    New Real Estate
  </h2>

  <%= render "form.html", Map.put(assigns, :action, real_estate_path(@conn, :create)) %>

</div>

<span><%= link "Back", to: real_estate_path(@conn, :index) %></span>
