<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Pulap</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <!-- <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500"> -->
  </head>

  <body class="layout-default">
    <div id="app">
      <%= render PulapWeb.HTML.Shared, "navbar.html", assigns %>
      <div class="section">
        <div class="container">
          <div class="tile is-ancestor">
            <div class="tile is-parent is-hidden-mobile">
              <div class="tile is-child green post">
                <div class="section">
                  [left]
                </div>
              </div>
            </div>
            <div class="tile is-9 is-parent is-block">
                <%= render @view_module, @view_template, assigns %>
            </div>
            <div class="tile is-vertical is-parent is-hidden-mobile">
              <div class="tile is-child <blue></blue> post">
                <div class="section">
                  [right-top]
                </div>
              </div>
              <div class="tile is-child gold post">
                <div class="section">
                  [right-bottom]
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <%= render PulapWeb.HTML.Shared, "bottombar.html", assigns %>
      <!-- <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script> -->

      <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
      <script src="<%= static_path(@conn, "/js/vendor.js") %>"></script>
    </div>
  </body>
</html>
