<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Pulap</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>

    <div>
      <%= if @current_user do %>
        <p class="small">Signed in as <strong><%= @current_user.username %></strong></p>
        <%= link "Sign Out", to: session_path(@conn, :delete, @current_user), method: "delete", class: "btn btn-sm btn-danger" %>
      <% else %>
        <%= link "Sign Up", to: user_path(@conn, :new), class: "btn btn-sm btn-success" %>
        <%= link "Sign In", to: session_path(@conn, :new), class: "btn btn-sm btn-primary" %>
      <% end %>
    </div>

    <%= render @view_module, @view_template, assigns %>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
