<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Pulap</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>


    <nav class="navbar is-transparent">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <img src="/images/phoenix.png" alt="Bulma: a modern CSS framework based on Flexbox" width="112" height="28">
        </a>
        <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>

      <div id="navbarExampleTransparentExample" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href="/">
            Home
          </a>
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link" href="/documentation/overview/start/">
              Docs
            </a>
            <div class="navbar-dropdown is-boxed">
              <a class="navbar-item" href="/documentation/overview/start/">
                Overview
              </a>
            </div>
          </div>
        </div>

        <div class="navbar-end">
          <div class="navbar-item">
            <div class="field is-grouped">
              <%= if @current_user do %>
              <a class="navbar-item" href="/">
                <%= @current_user.username %>
              </a>
              <p class="control">
                <a class="button" href="/signout">
                  <span class="icon">
                    <i class="fab"></i>
                  </span>
                  <span>
                    Sign out
                  </span>
                </a>
              </p>
              <% else %>
              <p class="control">
                <a class="button is-primary" href="Signup">
                  <span class="icon">
                    <i class="fas"></i>
                  </span>
                  <span>Signup</span>
                </a>
              </p>
              <p class="control">
                <a class="button is-primary" href="/signin">
                  <span class="icon">
                    <i class="fas"></i>
                  </span>
                  <span>Signin</span>
                </a>
              </p>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <div>
    </div>

    <%= render @view_module, @view_template, assigns %>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
